$grey: #bebebe;
.fbfd-deactivated-item, .fbfd-deactivated-child { background-color:$grey !important; border-color:$grey !important; }
.fbfd-deactivated-item:not(.asmFieldsetEnd) .asmListItemLabel::after { content:attr(data-fbfd-label); }
// Allow line breaks in checkbox labels
.Inputfield_deactivatedFields {
	.InputfieldCheckboxesWidth {
		li { padding-right:15px; }
		label { white-space:nowrap !important; overflow:hidden; text-overflow:ellipsis; max-width:100%; }
	}
}
